.hero-content {
  margin: 4em 0 2em;

  .subtitle {
    margin-bottom: 0;
    font-size: 1em;
  }

  a {
    font-size: 0.7em;
    text-decoration: underline;
  }
}

form {
  display: flex;
  flex-direction: column;
  border: 0.1px solid var(--border);
  padding: 20px;
  border-radius: 5px;
  background-color: rgba($border, 0.4);

  label {
    color: var(--text);
    font-weight: bold;
  }

  input,
  textarea,
  #content {
    margin: 1em 0 2em !important;
  }

  input[type='submit'] {
    display: flex;
    align-self: center;
    border-radius: 5px;
    margin: 1em 0;
    padding: 1.2em 4em;
    width: fit-content;
    background-color: var(--accent-dark);
    color: var(--text);
    text-transform: uppercase;
    font-weight: 1000;
    cursor: pointer;
  }
}

@media (min-width: 500px) {
}

@media (min-width: 650px) {
  body {
    font-size: 18px;
  }

  .wrapper {
    padding: 1.5em 4em;
  }
}

@media (min-width: 853px) {
  body {
    font-size: 20px;
  }

  h2 {
    font-size: 2.5em;
  }

  h2 {
    text-align: left;
    font-size: 2em;
  }

  .post-container {
    padding-bottom: 4em;
  }
}

@media (min-width: 1200px) {
}
